snippet #ifdef "ifdef" b
#ifdef $1
${2:${VISUAL}}
#endif // $1
endsnippet

snippet WIN "#ifdef _WIN32" b
#ifdef _WIN32
${1:${VISUAL}}
#endif
endsnippet

snippet if "if" b
if ($1)
{
	${2:${VISUAL}}
}
endsnippet

snippet { "brackets" b
{
	${1:${VISUAL}}
}
endsnippet
