snippet if "if" b
if ($1)
	${2:${VISUAL}}
endif()
endsnippet

snippet WIN "if (WIN32)" b
if (WIN32)
	${2:${VISUAL}}
endif()
endsnippet

snippet MSVC "if (MSVC)" b
if (MSVC)
	${2:${VISUAL}}
endif()
endsnippet
