extends tex
snippet boilerplate
\documentclass{article}
\usepackage[$1]{babel}
\usepackage{enumitem}
${3:\usepackage[fleqn]{amsmath}}

\author{David Pikas}
\title{$2}

\begin{document}
\maketitle

$4

\end{document}
endsnippet
