extends tex
snippet boilerplate
\documentclass{article}
\usepackage[$1]{babel}
\usepackage{enumitem}
${2:\usepackage[fleqn]{amsmath}}

\author{David Pikas}
\title{Programming Theory: Assignment III}

\begin{document}
\maketitle

$3

\end{document}
endsnippet
